<div>
<h1 class="thin">BUY SELL & SWAP YOUR FAVORITE SNEAKERS & ACCESSORIES</h1>
<h3 class="thin">ALL DEALERS ARE BACKED BY A $1K BOND</h3>
</div>
<div class="divider"></div>
<br>



<div class="row myrow">
  <div class="two columns">
  {{#each model as |sneaks|}}
    {{buy-tile sneaks=sneaks}}
  {{/each}}
  </div>
</div>
<!-- <div class="container">
  <div class="row">
     <div class="col s6 grey">
         {{#each model as |sneaks|}}
            {{buy-tile sneaks=sneaks}}
         {{/each}}
     </div>
     <div class="col s6 grey">This div is 6-columns wide</div>
  </div>
</div>
<div class="divider"></div> -->


<!-- <div class="row">
   <div class="col s12 m7">
     <div class="card">
       <div class="card-image">
         <img src="http://sneakernews.com/wp-content/uploads/2012/11/nike-sb-dunk-high-kentucky.jpg">
         <span class="card-title">
           {{#each model as |sneaks|}}
           {{buy-tile sneaks=sneaks}}
           {{/each}}</span>
       </div>
       <div class="card-content">
         <p>{{sneaks.brand}} {{sneaks.style}}'s'</p>
       </div>
       <div class="card-action">
         <a href="#">This is a link</a>
       </div>
     </div>
   </div>
 </div> -->
